.burger {
  background: $color-white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 60px;
  width: 60px;
  &:hover{
    animation: jello-horizontal 0.9s both;
  }
  @include desktop-small-height {
    height: 45px;
    width: 45px;
  }

  @include mobile {
    height: 45px;
    width: 45px;
  }

  i {
    @include align(true, true);
    position: relative;
    display: block;
    width: 32px;
    height: 3px;
    background-color: $color-dark;
    @include desktop-small-height {
      width: 24px;
    }
    @include mobile{
      width: 24px;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      top: 10px;
      display: block;
      width: 32px;
      height: 3px;
      background-color: black;
      transition: all 0.3s ease;
      @include desktop-small-height {
        width: 24px;
        top: 8px;
      }
      @include mobile{
        width: 24px;
        top: 8px;
      }
    }

    &:after {
      top: -10px;
      @include desktop-small-height {
        top: -8px;
      }
      @include mobile{
        top: -8px;
      }
    }
  }

  &.open {
    i {
      background-color: transparent;

      &:after {
        transform: rotate(-45deg);
        top: 0;
        transition: all 0.3s ease;
      }

      &:before {
        transform: rotate(45deg);
        top: 0;
        transition: all 0.3s ease;
      }
    }
  }
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
