<div class="accord-option js-accord-option">
  <button class="accord-option__item js-accord-button">
    {{{label}}}
  </button>
  <div class="accord-option__inner js-accord-content">
    <p class="accord-option__content">
      {{text}}
    </p>
  </div>
</div>
