</main>

<footer class="footer page__footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__title">Услуги</div>

      <div class="footer__inner">
      <div class="footer__top">
        <ul class="footer__list">
          <li class="footer__item"><a href="#" class="footer__link">Информационные услуги в области безопасности</a>
          </li>
          <li class="footer__item"><a href="#" class="footer__link">Услуги по обеспечению безопасности</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Услуги в области трудовых отношений</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Услуги в области бухгалтерского, налогового учета и
            отчетности</a></li>
        </ul>
        <ul class="footer__list">
          <li class="footer__item"><a href="#" class="footer__link">Услуги в области маркетинга</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Услуги по внедрению системы менеджмента качества</a>
          </li>
          <li class="footer__item"><a href="#" class="footer__link">Название услуги</a></li>
        </ul>
      </div>
      <div class="footer__bottom">
        <ul class="footer__socials">
          <li class="footer__socials-item">
            <a href="#" class="footer__socials-link">{{>ui/svg name="f"}}</a>
          </li>
          <li class="footer__socials-item">
            <a href="#" class="footer__socials-link">{{>ui/svg name="vk"}}</a>
          </li>
          <li class="footer__socials-item">
            <a href="#" class="footer__socials-link">{{>ui/svg name="t"}}</a>
          </li>
          <li class="footer__socials-item">
            <a href="#" class="footer__socials-link">{{>ui/svg name="in"}}</a>
          </li>
          <li class="footer__socials-item">
            <a href="#" class="footer__socials-link">{{>ui/svg name="y"}}</a>
          </li>
        </ul>
      </div>
      </div>
    </div>
</footer>
</div>

{{> layout/bottom}}
