<header class="header page__header">
  <div class="container">
    <div class="header__wrapper">
    {{>ui/btn label="+375 (17) 215-61-15"}}
    {{>widgets/burger}}
    </div>
  </div>
</header>

<main class="page__content">
