<header class="header page__header js-header">
  <div class="container">
    <div class="header__wrapper">
    <div class="header__cta-btn">
        {{>ui/btn icon =true label="+375 (17) 215-61-15"}}
    </div>
      <div class="header__burger">
    {{>widgets/burger}}
      </div>
    </div>
  </div>
</header>

<main class="page__content">
