<form action="#" class="form">
  <div class="form__cell">
    <input type="text" autocomplete="off" required name="user__name" value="">
    <label>Имя</label>
  </div>
  <div class="form__cell">
    <input type="tel" autocomplete="off" required name="user__phone" value="">
    <label>Телефон</label>
  </div>
  <div class="form__textarea">
    <label for="textarea">Хотите получить консультацию?</label>
    <textarea type="text" name="message" value="" id="textarea"></textarea>
  </div>
  <div class="form__cta-btn">
  {{>ui/btn button=true color="white" label="Перезвоните мне"}}
  </div>
</form>
