<aside class="side-bar">
  <div class="side-bar__inner">
    <ul class="side-bar__list">
      <li class="side-bar__item"><a href="#" class="side-bar__link">Welcome</a></li>
      <li class="side-bar__item"><a href="#" class="side-bar__link">О нас</a></li>
      <li class="side-bar__item"><a href="#" class="side-bar__link">Наши услуги</a></li>
      <li class="side-bar__item"><a href="#" class="side-bar__link">Преимущества</a></li>
      <li class="side-bar__item"><a href="#" class="side-bar__link">Контакты</a></li>
    </ul>
  </div>
</aside>
