<aside class="side-bar">
  <div class="side-bar__inner">
    <ul class="side-bar__list">
      <li class="side-bar__item"><a href="#" class="side-bar__link js-scroll-to"
                                    data-scroll-to="section-hero">Welcome</a></li>
      <li class="side-bar__item"><a href="#" class="side-bar__link js-scroll-to" data-scroll-to="section-about">О
        нас</a></li>
      <li class="side-bar__item"><a href="#" class="side-bar__link js-scroll-to" data-scroll-to="section-services">Наши
        услуги</a></li>
      <li class="side-bar__item"><a href="#" class="side-bar__link js-scroll-to" data-scroll-to="section-advantages">Преимущества</a>
      </li>
      <li class="side-bar__item"><a href="#" class="side-bar__link js-scroll-to" data-scroll-to="section-contacts">Контакты</a>
      </li>
    </ul>
  </div>
</aside>

