<section class="hero js-hero" data-id = "section-hero">
    <div class="hero__bg">
      <div class="swiper-container hero__swiper-container js-swiper">
        <div class="hero__triangle">{{>components/image img="bg/triangle" ext="png"}}</div>
        <div class="swiper-wrapper ">
          <div class="swiper-slide hero__slide">
            {{>components/image img="bg/bg" ext="png"}}
            <div class="hero__inner container">
              <div class="hero__content">
                <div class="hero__top">
                  <h1 class="hero__title">Информационные услуги в области безопасности</h1>
                  <p class="hero__text">Проверка деловой репутации компании
                  </p>
                </div>
                <div class="hero__cta-btn">
                  {{>ui/btn label="Подробнее"}}
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide hero__slide">
            {{>components/image img="bg/bg-2" ext="jpg"}}
            <div class="hero__inner container">
              <div class="hero__content">
                <div class="hero__top">
                  <h1 class="hero__title">Lorem ipsum dolor sit amet.</h1>
                  <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cumque explicabo magnam quibusdam voluptas. Necessitatibus?
                  </p>
                </div>
                <div class="hero__cta-btn">
                  {{>ui/btn label="Подробнее"}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero__grid">{{>components/image img="bg/grid" ext="png"}}</div>
      </div>

    </div>
<div class="hero__nav container">
    <div class="hero__box">
          <div class="swiper-button-next hero__next-btn"><i class="arrow"></i></div>
          <div class="swiper-button-prev hero__prev-btn"><i class="arrow"></i></div>
        </div>
</div>


</section>
