<section class="section about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__left">
        {{>components/image img="about/about" ext="png"}}
      </div>
      <div class="about__right">
        <h3 class="section__title"></h3>
        <div class="section__content">
          <p><span>ООО «Сервис» создано в 2019 году </span> для повышения операционной эффективности клиентов за счет
            приема на
            аутсорсинг обеспечивающих и вспомогательных бизнес-процессов (их отдельных этапов), что позволяет клиентам
            сфокусироваться на основных видах деятельности и с помощью структурной реорганизации оптимизировать
            расходы.</p>
          <p>Участниками организации являются дочернее предприятие ОАО «Банк» - УСП «ЭБ Страхование» совместно с ООО
            «БДО Ашуренс» членом — международного объединения независимых аудиторских и консалтинговых компаний BDO
            International Limited.</p>
        </div>
        <div class="about__counter js-counter">
          <span class="about__amount">160</span>
          <span class="about__text">сотрудников компании</span>
        </div>
      </div>
    </div>
  </div>
</section>
