<section class="section services">
  <div class="container">
    <h3 class="section__title">Наши услуги</h3>
    <div class="services__grid">
      <div class="services__row">

      </div>
      <div class="services__row">

      </div>
      <div class="services__row">

      </div>
    </div>
  </div>
</section>
