<section class="section advantages">
  <div class="container">
    <h3 class="section__title">Преимущества аутсорсинга</h3>
    <div class="advantages__accord js-accord">

    </div>
  </div>
</section>
