<section class="section advantages">
  <div class="container">
    <h3 class="section__title">Преимущества аутсорсинга</h3>
    <div class="advantages__accord js-accord">
      <div class="advantages__grid">
        <div class="advantages__cell">
          {{>widgets/accord-option
            label = "Вы получаете <b>услуги высокого качества</b> в короткий срок"
            text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?"
          }}
        </div>
        <div class="advantages__cell">
          {{>widgets/accord-option
            label = "Вы получаете <b>услуги высокого качества</b> в короткий срок"
            text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?"
          }}
        </div>
        <div class="advantages__cell">
          {{>widgets/accord-option
            label = "Вы получаете <b>услуги высокого качества</b> в короткий срок"
            text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?"
          }}
        </div>
        <div class="advantages__cell">
          {{>widgets/accord-option
            label = "Вы получаете <b>услуги высокого качества</b> в короткий срок"
            text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?"
          }}
        </div>
      </div>
    </div>
  </div>
</section>
