<section class="section advantages" data-id="section-advantages">
  <div class="container">
    <h2 class="section__title">Преимущества аутсорсинга</h2>
    <div class="advantages__accord js-accord">
      <div class="advantages__grid">
        <div class="advantages__col-left">
          <div class="advantages__cell">
            {{>widgets/accord-option
              label = "Вы получаете <b>услуги высокого качества</b> в короткий срок"
              text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?"
              image = "brilliant"
            }}
          </div>
          <div class="advantages__cell">
            {{>widgets/accord-option
              label = "<b>Избавляет от обязательств </b> по трудовому законодательству"
              text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eius excepturi rerum sunt tempora, ut voluptatem? Amet cumque explicabo incidunt perspiciatis quae unde voluptatem. A adipisci alias aliquid aspernatur, atque, deserunt dignissimos dolorem doloremque dolores eaque esse est id laboriosam magnam maiores modi mollitia neque nulla, odit perspiciatis quasi quod ratione reiciendis rem sapiente vero voluptates voluptatibus. Corporis explicabo molestiae mollitia nesciunt quos sit tempora tenetur ullam. Amet assumenda, atque aut, cum dolor ea eaque earum eius expedita fugiat illum incidunt ipsa iusto, laboriosam libero nihil officiis quas qui quia quisquam quod quos recusandae repudiandae suscipit vitae? Ab, nisi, provident? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?"
              image = "document"
            }}
          </div>
        </div>
        <div class="advantages__col-right">
          <div class="advantages__cell">
            {{>widgets/accord-option
              label = "<b>Оптимизирует финансовые затраты</b> предприятия"
              text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eius excepturi rerum sunt tempora, ut voluptatem? Amet cumque explicabo incidunt perspiciatis quae unde voluptatem. A adipisci alias aliquid aspernatur, atque, deserunt dignissimos dolorem doloremque dolores eaque esse est id laboriosam magnam maiores modi mollitia neque nulla, odit perspiciatis quasi quod ratione reiciendis rem sapiente vero voluptates voluptatibus. Corporis explicabo molestiae mollitia nesciunt quos sit tempora tenetur ullam. Amet assumenda, atque aut, cum dolor ea eaque earum eius expedita fugiat illum incidunt ipsa iusto, laboriosam libero nihil officiis quas qui quia quisquam quod quos recusandae repudiandae suscipit vitae? Ab, nisi, provident?"
              image = "coins"
            }}
          </div>
          <div class="advantages__cell">
            {{>widgets/accord-option
              label = "<b>Дает возможность сосредоточиться</b> на основных бизнес-процессах"
              text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, optio?"
              image = "aim"
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
