.arrow {
  position: relative;
  display: block;
  height: 2px;
  width: 24px;
  background-color: $color-dark;
  border-radius: 20%;

  &:before, &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 2px;
    transform: rotate(45deg);
    transform-origin: 0% 20%;
    background-color: $color-dark;
    border-radius: 5px;
  }

  &:after {
    transform: rotate(-45deg);
    transform-origin: 0 90%;
  }
}
