.btn {
  display: inline-block;
  padding: 11px 64px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  font-weight: bold;
  @include transition;
  white-space: nowrap;
  appearance: none;
  cursor: pointer;

  background: linear-gradient(180deg, #27214A 0%, rgba(118, 110, 162, 0) 100%), #27214A ;
  color: $color-white;

  &:hover {
    opacity: 0.9;
  }

  &--secondary {
    background: $color-secondary;
    color: $color-white;

    &:hover {
      background: $color-secondary;
    }
  }

  &--outline {
    background: $color-white;
    border: 1px solid $color-primary;
    color: $color-primary;

    &:hover {
      background: $color-primary;
      color: $color-white;
    }

    &.btn--secondary {
      border: 1px solid $color-secondary;
      color: $color-secondary;

      &:hover {
        background: $color-secondary;
        color: $color-white;
      }
    }
  }

  &--white{
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.25);
    color: $color-black;
  }

  &--small {
    padding: 8px 10px;
    font-size: 14px;
  }

  &--large {
    padding: 20px 25px;
    font-size: 20px;
  }
}
