$icons: (sprite: (width: 552px, height: 553px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
aim: (width: 80px, height: 80px, backgroundX: 0px, backgroundY: 0px),
brilliant: (width: 81px, height: 95px, backgroundX: -80px, backgroundY: -80px),
coins: (width: 80px, height: 80px, backgroundX: -161px, backgroundY: -175px),
document: (width: 73px, height: 81px, backgroundX: -241px, backgroundY: -255px),
f: (width: 12px, height: 24px, backgroundX: -314px, backgroundY: -336px),
form-checkbox-tick: (width: 16px, height: 12px, backgroundX: -326px, backgroundY: -360px),
in: (width: 24px, height: 24px, backgroundX: -342px, backgroundY: -372px),
input-date: (width: 18px, height: 20px, backgroundX: -366px, backgroundY: -396px),
plus: (width: 42px, height: 42px, backgroundX: -384px, backgroundY: -416px),
popup-close: (width: 26px, height: 26px, backgroundX: -426px, backgroundY: -458px),
select2-arrow: (width: 14px, height: 9px, backgroundX: -452px, backgroundY: -484px),
select2-arrow-active: (width: 14px, height: 9px, backgroundX: -466px, backgroundY: -493px),
t: (width: 24px, height: 20px, backgroundX: -480px, backgroundY: -502px),
vk: (width: 24px, height: 14px, backgroundX: -504px, backgroundY: -522px),
y: (width: 24px, height: 17px, backgroundX: -528px, backgroundY: -536px),
);
