.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-aim {
  width: 80px;
  height: 80px;
}
.icon-brilliant {
  width: 81px;
  height: 95px;
}
.icon-coins {
  width: 80px;
  height: 80px;
}
.icon-document {
  width: 73px;
  height: 81px;
}
.icon-plus {
  width: 42px;
  height: 42px;
}
.icon-popup-close {
  width: 26px;
  height: 26px;
}
