$icons: (sprite: (width: 227px, height: 207px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
f: (width: 12px, height: 24px, backgroundX: 0px, backgroundY: 0px),
form-checkbox-tick: (width: 16px, height: 12px, backgroundX: -12px, backgroundY: -24px),
in: (width: 24px, height: 24px, backgroundX: -28px, backgroundY: -36px),
input-date: (width: 18px, height: 20px, backgroundX: -52px, backgroundY: -60px),
phone: (width: 31px, height: 32px, backgroundX: -70px, backgroundY: -80px),
popup-close: (width: 26px, height: 26px, backgroundX: -101px, backgroundY: -112px),
select2-arrow: (width: 14px, height: 9px, backgroundX: -127px, backgroundY: -138px),
select2-arrow-active: (width: 14px, height: 9px, backgroundX: -141px, backgroundY: -147px),
t: (width: 24px, height: 20px, backgroundX: -155px, backgroundY: -156px),
vk: (width: 24px, height: 14px, backgroundX: -179px, backgroundY: -176px),
y: (width: 24px, height: 17px, backgroundX: -203px, backgroundY: -190px),
);
